.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box {
      min-height: 90px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 25px;
    }
    &__content {
      min-height: calc(100vh - 98px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      &-data {
        
      }
    }
  }
  .titre, .ident{
    background-color: #D9D9D9;
   }
   .titre .but1{
    background-color: #0077F7;
    border: none;
    border-radius: 5px;
   }
   .titre .but2{
    background-color: #D53343;
    color: white;
    border: none;
    border-radius: 5px;
   }
   span{
    font-weight:500;
    text-decoration: underline;
   }
