<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Projet</div>
    <div class="page__content shadow p-3">
      <div class="page__content-data">

        <div class="container">
            <div class="titre text-center">
                <h5>Formulaire de création d'un projet </h5>
            </div>
            <div class="form">
                <div class="text-end">
                    <a mat-list-item class="text-end" (click)="open(content)">Ajouter un partenaire</a>
                </div>
                <form novalidate [formGroup]="projetForm" (ngSubmit)="saveProjet()">
                    <div class="row mt-4">
                      <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Enter le nom du projet" name="nom" formControlName="nom" id="Idnom">
                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Enter son code" formControlName="code" id="Idcoe" name="code">
                      </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Enter le cout du projet" name="cout" formControlName="cout" id="Idcout">
                        </div>
                        <div class="col">
                            <select class="form-select" name="partenaire_id" formControlName="partenaire" id="Idpartenaire">
                                <option value="">Partenaire</option>
                                <option *ngFor="let partenaire of partenaires" [ngValue]="partenaire">{{partenaire.nom}}</option>
                            </select>

                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <input type="date" class="form-control" placeholder="Enter la date de début" name="date_debut" formControlName="date_debut" id="Idate_debut" >
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" placeholder="Enter la date de fin" name="date_fin" formControlName="date_fin" id="Idate_fin">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <textarea class="form-control" placeholder="Enter la description du projet" name="description" formControlName="description" id="Idescription"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <button class="btn btn-primary"
                            type="submit" [disabled]="projetForm.invalid">
                            Enregistrer</button>
                        </div>
                    </div>
                  </form>
            </div>

            <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Formulaire du partenaire</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form novalidate #f="ngForm" (ngSubmit)="savePartenaire(f.value)">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="row mt-4">
                            <div class="col-md-6">
                              <input type="text" class="form-control" placeholder="Enter le nom" name="nom" ngModel>
                            </div>
                            <div class="col-md-6">
                              <input type="text" class="form-control" placeholder="Enter son code" ngModel name="code">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                              <input type="text" class="form-control" placeholder="Enter l'adresse" name="adresse" ngModel>
                            </div>
                            <div class="col-md-6">
                              <input type="text" class="form-control" placeholder="Enter le téléphone" ngModel name="telephone">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                              <input type="email" class="form-control" placeholder="Enter l'email" name="email" ngModel>
                            </div>
                            <div class="col-md-6">
                              <input type="text" class="form-control" placeholder="Enter le contact" ngModel name="contact">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                              <input type="text" class="form-control" placeholder="Enter le site web" name="adresse_web" ngModel>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                    </div>

                  </form>
                </div>

              </ng-template>

        </div>
        <!-- <pre>
            {{ projetForm.value | json }}
        </pre>  -->

    </div>
</div>
</div>
