<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Administration</div>
  <div class="page__content shadow p-3">
    <div class="page__content-data">

      <div class="container p-3">
          <div class="titre text-center">
              <h5>Formulaire d'ajout d'un membre </h5>
          </div>
          <div class="form">
              <form novalidate [formGroup]="membreForm" (ngSubmit)="saveMembre()">
                  <div class="row mt-4">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Enter son nom" formControlName="lastName" id="IdlastName" name="lastName">
                    </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Enter le prenom" name="firstName" formControlName="firstName" id="IdfirstName">
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Quel son numéro de téléphone" name="telephone" formControlName="telephone" id="Idtelephone" >
                      </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                       <input type="text" class="form-control" placeholder="Quel son email" name="email" formControlName="email" id="Idemail" >
                    </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Quel est la matricule" name="matricule" formControlName="matricule" id="Idmatricule" >
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Donner son login" name="username" formControlName="username" id="Idusername" >
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                          <input type="password" class="form-control" placeholder="Quel son mot de passe" name="password" formControlName="password" id="Idpassword" >
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                          <button class="btn btn-primary"
                          type="submit" [disabled]="membreForm.invalid">
                          Enregistrer</button>
                      </div>
                  </div>
                </form>
          </div>
      </div>
  </div>
</div>
</div>
