<mat-nav-list>
  <div class="logo py-4">
    <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
    <h4>Projet Monitoring</h4>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Accueil
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Projet
  </a>

  <div class="dropdown">
    <a  mat-list-item class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <mat-icon>dashboard</mat-icon>
      Espace suivi et Exécution
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" routerLinkActive="list-item-active" routerLink="/phase">Editer une phase</a></li>
      <li><a class="dropdown-item" routerLinkActive="list-item-active" routerLink="/livrable">Fournir un livrable</a></li>
    </ul>
  </div>

  <div class="dropdown">
    <a  mat-list-item class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <mat-icon>dashboard</mat-icon>
      Administration
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" routerLinkActive="list-item-active" routerLink="/membre">Ajouter un membre</a></li>
      <li><a class="dropdown-item" routerLinkActive="list-item-active" routerLink="/livrable">Connexion</a></li>
    </ul>
  </div>

  <div class="dropdown">
    <a  mat-list-item class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      <mat-icon>dashboard</mat-icon>
      Paramétrage
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" routerLinkActive="list-item-active" routerLink="/zone">Ajouter une zone</a></li>
      <li><a class="dropdown-item" routerLinkActive="list-item-active" routerLink="/profil">Ajouter un profil</a></li>
    </ul>
  </div>
  <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
