<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Accueil</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data text-center">

    <div class="row mx-2">
      <div class="card text-white mb-3 mx-2 col-md-4 ">
        <div class="card-header">Projets</div>
        <div class="card-body">
          <h5 class="card-title">Nombre de projets présents</h5>
          <p class="card-text">On a compte : {{nbreprojet}}</p>
        </div>
      </div>
      <div class="card text-white mb-3 mx-2 col-md-4">
        <div class="card-header">Projets</div>
        <div class="card-body">
          <h5 class="card-title">Nombre de projets cours d'exécutions</h5>
          <p class="card-text">Ils sont au nombre de : {{nbreprojetencours}}</p>
        </div>
      </div>
      <div class="card text-white mb-3 mx-2 col-md-4 " >
        <div class="card-header">Projets</div>
        <div class="card-body">
          <h5 class="card-title">Nombre de projets exécutés</h5>
          <p class="card-text">Nous avons traités : {{ nbreprojettermine}}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <h3 class="mt-3">Taux d'éxecution des projets</h3>
      <div class="diagramme">
        <canvas id="pieChart"></canvas>
      </div>
    </div>
    </div>
  </div>
</div>
