<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Accueil</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data text-center">
      
    <div class="row mx-2">
      <div class="card text-white mb-3 mx-2 col-md-4 col-xl-12">
        <div class="card-header">Projets</div>
        <div class="card-body">
          <h5 class="card-title">Déjà executés</h5>
          <p class="card-text">On a compte 15.</p>
        </div>
      </div>
      <div class="card text-white mb-3 mx-2 col-md-4 col-xl-12">
        <div class="card-header">Projets</div>
        <div class="card-body">
          <h5 class="card-title">En cours d'execution</h5>
          <p class="card-text">Ils sont au nombre de 05</p>
        </div>
      </div>
      <div class="card text-white mb-3 mx-2 col-md-4 col-xl-12" >
        <div class="card-header">Projets</div>
        <div class="card-body">
          <h5 class="card-title">Déjà bouclé</h5>
          <p class="card-text">Nous avons traités 09</p>
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="mt-3">Taux d'éxecution des projets</h2>
    </div>

    </div>
  </div>
</div>
